<mat-sidenav-content>
    <app-top-bar>
      <mat-chip-list>
        <mat-chip
          *ngIf="!!(currentDelta$ | async)"
          color="accent"
          class="mat-chip-delta mat-elevation-z4"
          selected
          removable
          (removed)="removeDelta()">
          {{ currentDelta$ | async }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <app-list-button
      (refresh)="refresh()"
      (selectedDateTime)="selectedDateTime($event)">
    </app-list-button>
  </app-top-bar>
  <app-list [isLoading]="isLoading$ | async" [isEmpty]="!(stationsStatus$ | async).length">
    <ng-container *ngIf="!(isLoading$ | async)">
      <a *ngFor="let station of stationsStatus$ | async; trackBy: trackByFn" class="mat-list-item-override" mat-list-item
      (click)="handleClick(station)">
      <app-row-station [station]="station">
        <span>{{ station.distance | number:'1.0-0' }}m</span>
          <span>{{ station.numDocksAvailable }}<i class="material-icons dock">ev_station</i></span>
        </app-row-station>
      </a>
    </ng-container>
  </app-list>
</mat-sidenav-content>
