:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  ::ng-deep input.ng-untouched {
    display: none;
  }

  .datetimepicker-field {
    display: flex;

    .mat-dialog-container {
      padding: 10px;
    }
  }
}
