:host {
    display: block;
    height: 100%;
    position: relative;
    flex: 1;
    padding: 50px;
    box-sizing: border-box;

    section {
      display: flex;
      flex-direction: column;
      height: 100%;

      h1 {
        margin-bottom: 24px;
      }

      .chart {
        display: flex;
        flex: 1;
        align-items: center;
        height: 100%;

        app-doughnut-chart {
          height: 80%;
          flex: 1;

          ::ng-deep .ct-series-a .ct-slice-donut {
            stroke: lightgreen;
          }

          ::ng-deep .ct-series-b .ct-slice-donut {
            stroke: lightblue;
          }

          ::ng-deep .ct-series-c .ct-slice-donut {
            stroke: lightgrey;
          }
        }
      }
    }
}
