:host {
    display: block;
    height: 100%;
    position: relative;
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
    h1 {
        margin-bottom: 24px;
    }
    .chart {
        height: 350px;
    }
}