<mat-sidenav-content>
  <app-top-bar></app-top-bar>
  <ng-container *ngIf="isSelectingStation$ | async">
    <app-loading></app-loading>
  </ng-container>
  <section *ngIf="!(isSelectingStation$ | async)" class="mat-typography">
    <h2 class="title">Dis nous ce que tu vois ?</h2>
    <div class="select-action">
      <label nz-checkbox [(ngModel)]="selectedCard">
        {{ selectedCard ? 'Présent' : 'Absent' }}
      </label>
    </div>
    <div class="selectors">
      <div class="selector">
        <div class="selector-details">
          <i class="material-icons mechanical">directions_bike</i>
          <span class="subtitle">Mécanique</span>
        </div>
        <div class="numbers">
          <nz-row>
            <nz-col nzSpan="16">
              <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="numberMechanical" (ngModelChange)="setFeedback()">
              </nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
              <nz-input-number [nzMin]="1" [nzMax]="20" [(ngModel)]="numberMechanical" (ngModelChange)="setFeedback()">
              </nz-input-number>
            </div>
          </nz-row>
        </div>
      </div>
      <div class="selector">
        <div class="selector-details">
          <i class="material-icons ebike">directions_bike</i>
          <span class="subtitle">Electrique</span>
        </div>
        <div class="numbers">
          <nz-row>
            <nz-col nzSpan="16">
              <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="numberEbike" (ngModelChange)="setFeedback()"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
              <nz-input-number [nzMin]="1" [nzMax]="20" [(ngModel)]="numberEbike" (ngModelChange)="setFeedback()">
              </nz-input-number>
            </div>
          </nz-row>
        </div>
      </div>
      <div class="selector">
        <div class="selector-details">
          <i class="material-icons dock">ev_station</i>
          <span class="subtitle">Place libre</span>
        </div>
        <div class="numbers">
          <nz-row>
            <nz-col nzSpan="16">
              <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="numberDock" (ngModelChange)="setFeedback()"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
              <nz-input-number [nzMin]="1" [nzMax]="20" [(ngModel)]="numberDock" (ngModelChange)="setFeedback()">
              </nz-input-number>
            </div>
          </nz-row>
        </div>
      </div>
    </div>
    <div class="submission-buttons">
      <button mat-stroked-button color="warn" class="submit-button" [disabled]="!hasFeedback"
        (click)="clear()">Annuler</button>
      <button mat-flat-button color="primary" class="submit-button" [disabled]="!hasFeedback"
        (click)="clickSubmit()">Envoyer</button>
    </div>
  </section>
</mat-sidenav-content>