@import '~@angular/material/theming';

:host {
  display: block;
  height: 100%;
  flex: 1;
  background-color: white;

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  section {
    overflow-y: auto;
    padding: 2em;
  }

  .clickable {
    cursor: pointer;

    &.-selected {
      @include mat-elevation(8);
    }
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(16, 44, 60);
    padding: 0.875em 0;
    margin: 0;
  }

  .select-action {
    display: flex;
    justify-content: center;
    padding: 0.875em 0;

    .mat-card {
      margin: 10px;
      padding: 10px;
      min-width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--tertiary-text);
      }

      span {
        color: var(--secondary-text);
      }
    }

    .confirmed {
      border-top: 6px solid lightgreen;
    }

    .reported {
      border-top: 6px solid lightcoral;
    }

    .material-icons {
      font-size: 30px;
    }
  }

  .selector {
    padding: 0.625em 0;

    .selector-details {
      display: flex;
      align-items: center;

      .subtitle {
        font-size: 18px;
        font-weight: 400;
        color: var(--secondary-text);
      }

      .material-icons {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 0.875em;
      }

      .mechanical {
        background-color: lightgreen;
      }

      .ebike {
        background-color: lightblue;
      }

      .dock {
        background-color: lightskyblue;
      }
    }

    .numbers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.875em;
      flex-wrap: wrap;

      button {
        display: flex;
        justify-content: center;
        min-width: 50px;
        height: 50px;
        padding: 0;
        margin-right: 0.875em;
        margin-bottom: 0.875em;
        border: 1px solid lightgray;
      }

    }

  }

  .submission-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0.875em 1em;

    button {
      margin-left: 0.875em;
    }
  }
}
