:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .map {
    height: 100%;
    position: relative;

    &.-disabled {
      opacity: 0.5;
    }

    agm-map {
      height: 100%;
    }

    .my-location-button {
      position: fixed;
      right: 1em;
      bottom: 1.675em;
      background-color: white;
      color: #4285f4;
    }

    .-uncertain {
      color: orange;
    }

    .about-button {
      position: absolute;
      right: 1em;
      top: 1em;
      background-color: white;
      color: gray
    }

    .ios-permission {
      position: fixed;
      right: 1em;
      bottom: 5.675em;
      background-color: white;
      color: red;
    }
  }
}
