:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  .map {
    height: 100%;

    &.-disabled {
      opacity: 0.5;
    }

    agm-map {
      height: 100%;
    }
  }

  #station-popup-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
}
