<div
  class="map"
  [class.-disabled]="isLoading$ | async"
>
  <div id="station-popup-dismiss"
    *ngIf="(selectedStation$ | async)"
    (click)="unselectStation()">
  </div>
  <agm-map
    [latitude]="(mapCenter$ | async)?.lat"
    [zoom]="(zoom$ | async)"
    [longitude]="(mapCenter$ | async)?.lng"
    [zoomControl]="false"
    [streetViewControl]="false"
    (idle)="idle()"
    (boundsChange)="boundsChange($event)"
    (centerChange)="centerChange($event)"
    (zoomChange)="zoomChange($event)"
  >
    <agm-marker
      *ngFor="let marker of markers$ | async; trackBy: trackByFn"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      (markerClick)="clickedMarker(marker.id)"
      [opacity]="1"
      [iconUrl]="'/assets/directions_bike.svg'"
      [class.-selected]="(selectedStation$ | async)?.stationId === marker.id"
    >
    </agm-marker>

    <ng-container *ngIf="!!(currentPosition$ | async)">
      <agm-marker
        *ngIf="(isCompassView$ | async) && (currentBearing$ | async); else normalIcon"
        [latitude]="(currentPosition$ | async)?.lat"
        [longitude]="(currentPosition$ | async)?.lng"
        [opacity]="1"
        [iconUrl]="'/assets/compass_calibration.svg'"
        [style.transform.rotate.deg]="currentBearing$ | async">
      </agm-marker>
      <ng-template #normalIcon>
        <agm-marker
          [latitude]="(currentPosition$ | async)?.lat"
          [longitude]="(currentPosition$ | async)?.lng"
          [opacity]="1"
          [iconUrl]="'/assets/my_location.svg'">
        </agm-marker>
      </ng-template>
    </ng-container>

    <agm-direction
      *ngIf="!!(currentPosition$ | async) && (destination$ | async)"
      [origin]="currentPosition$ | async"
      [destination]="destination$ | async"
      [travelMode]="travelMode"
    >
    </agm-direction>
  </agm-map>
  <button
    *ngIf="!!(currentPosition$ | async)"
    mat-mini-fab class="my-location-button"
    (click)="recenterMap()">
    <i class="material-icons">my_location</i>
  </button>
  <app-speed-dial-fab
    *ngIf="!!(currentPosition$ | async) && !isDisplayingListPages"
    (redirect)="navigateTo($event)"
    [mainButtonIcon]="'navigation'"
    [fabButtons]="fabButtons"
  ></app-speed-dial-fab>
</div>
<app-loading *ngIf="isLoading$ | async"></app-loading>
