@import "src/variables.scss";
@import "src/theme.scss";

$ct-series-custom-colors: (
  (hsl(123.05, 46.46%, 50.2%), 'a'), // mechanical
  (hsl(123.08, 45.88%, 66.67%), 'b'), // ebike
  (hsl(123.08, 45.88%, 83.33%), 'c'), // numDocksAvailable
);

:host {
  display: block;
  height: 100%;
  flex: 1;
  background-color: white;

  ::ng-deep .ct-legend {
    position: relative;
    z-index: 10;
    list-style-type: none;

    li {
        position: relative;
        padding-left: 23px;
        margin-bottom: 3px;
    }

    li.hide {
      display: none;
    }

    li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    @for $i from 0 to length($ct-series-custom-colors) {
      .ct-series-#{$i}:before {
          background-color: nth(nth($ct-series-custom-colors, $i + 1), 1);
          border-color: nth(nth($ct-series-custom-colors, $i + 1), 1);
      }
    }
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .top-bar-buttons {
    & > button:not(:first-of-type) {
      margin-left: 4px;
    }
  }

  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .station-name {
      margin-bottom: 0.875rem;

      .name {
        font-weight: 600;
        color: $important-text;
        margin: 0.875rem 0;
      }
    }
    .station-details {
      border-top: 2px solid hsl(210, 23%, 95%);
      padding: 0.250rem 0 1rem;
      display: flex;

      .material-icons {
        margin-right: 6px;
        font-size: 16px;
      }

      .info {
        display: flex;
        align-items: center;
        font-weight: 400;
        color: $secondary-text;
        font-size: 20px;
        line-height: initial;
        margin-right: 2rem;
        margin-bottom: 0;
      }
    }

    .chart {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;

      app-doughnut-chart {
        height: 80%;
        flex: 1;

        @for $i from 0 to length($ct-series-custom-colors) {
          ::ng-deep .ct-series-#{nth(nth($ct-series-custom-colors, $i + 1), 2)} .ct-slice-donut {
            stroke: nth(nth($ct-series-custom-colors, $i + 1), 1);
          }
        }

        ::ng-deep .ct-label {
          color: $tertiary-text;
          font-weight: 500;
          font-size: 0.875rem;
        }
      }
    }
  }
}
