@import "../../../theme.scss";
@import "~@angular/material/theming";

::ng-deep .ct-tooltip {
  color: white;
  background: mat-color($my-app-accent);
}

::ng-deep .ct-tooltip::before {
  border-top-color: mat-color($my-app-accent);
}

:host {
  display: block;
  height: 100%;
  flex: 1;
  background-color: white;

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .top-bar-buttons {
    & > button:not(:first-of-type) {
      margin-left: 4px;
    }
  }

  section {
    padding: 3em;
    display: flex;
    flex-direction: column;
    height: 100%;

    .station-name {
      margin-bottom: 0.875em;

      .name {
        font-weight: 600;
        color: var(--important-text);
        margin: 0.875em 0;
      }
    }
    .station-details {
      border-top: 2px solid hsl(210, 23%, 95%);
      padding: 0.250em 0 1em;
      display: flex;

      .material-icons {
        margin-right: 6px;
        font-size: 16px;
      }

      .info {
        display: flex;
        align-items: center;
        font-weight: 400;
        color: var(--secondary-text);
        font-size: 20px;
        line-height: initial;
        margin-right: 2em;
        margin-bottom: 0;
      }
    }

    .chart {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;

      app-doughnut-chart {
        height: 80%;
        flex: 1;

        ::ng-deep .ct-series-a .ct-slice-donut {
          stroke: hsl(123.05, 46.46%, 50.2%);
        }

        ::ng-deep .ct-series-b .ct-slice-donut {
          stroke: hsl(123.08, 45.88%, 66.67%);
        }

        ::ng-deep .ct-series-c .ct-slice-donut {
          stroke: hsl(123.08, 45.88%, 83.33%);
        }

        ::ng-deep .ct-label {
          color: var(--tertiary-text);
        }
      }
      
    }
  }
}
