<mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{title}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <main [class.-is-splitted]="!(isMobile$ | async) && isDisplayingListPages()">
      <button
        *ngIf="!isMainRoute()"
        mat-mini-fab
        class="back-btn fab-secondary"
        color="secondary"
        (click)="back()"
      >
        <i class="material-icons">arrow_back</i>
      </button>
      <app-map
        [class.-hide]="(isMobile$ | async) && isDisplayingListPages()"
        [defaultCoord]="defaultCoord"
        [isDisplayingListPages]="isDisplayingListPages()"
      ></app-map>
      <router-outlet *ngIf="isDisplayingListPages()"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
