<mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span *ngIf="isMainRoute(); else notMainRoute">{{title}}</span>
        <span>x tata - {{ deg$ | async }}</span>
        <ng-template #notMainRoute>
          <button
            mat-icon-button
            class="back-btn fab-secondary"
            color="secondary"
            (click)="back()"
            >
            <i class="material-icons">arrow_back</i>
          </button>
        </ng-template>
      </mat-toolbar-row>
    </mat-toolbar>
    <main [class.-is-splitted]="!(isMobile$ | async) && isDisplayingListPages()">
      <app-map
        [class.-hide]="(isMobile$ | async) && isDisplayingListPages()"
        [isDisplayingListPages]="isDisplayingListPages()"
        [isIOS]="isIOS"
        (requestPermissionsIOS)="requestPermissionsIOS()"
      ></app-map>
      <router-outlet *ngIf="isDisplayingListPages()"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
