:host {
  main {
    height: calc(100vh - 64px);

    &.-is-splitted {
      position: absolute;
      right: 0;
      width: 40%;
    }
  }

  .map {
    height: 100%;

    &.-disabled {
      opacity: 0.5;
    }

    agm-map {
      height: 100%;
    }
  }

  .loading-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
