<mat-sidenav-container fullscreen>
  <main [class.-is-splitted]="!(isMobile$ | async)"
        [class.-is-fullmap]="isFullMap$ | async">
    <app-map
      [ngStyle]="{'transition': mapTransition}"
      [class.-hide]="(isMobile$ | async) && !(isFullMap$ | async)"
      [isDisplayingListPages]="!(isFullMap$ | async)"
      [isHide]="(isMobile$ | async) && !(isFullMap$ | async)"
      [isIOS]="isIOS"
      (requestPermissionsIOS)="requestPermissionsIOS()"
    ></app-map>
    <div class="sidebar-wrapper">
      <div class="sidebar"
        [@routeAnimationsMobile]="(isMobile$ | async) && o && o.activatedRouteData && o.activatedRouteData['animation']"
        [@routeAnimationsDesktop]="!(isMobile$ | async) && o && o.activatedRouteData && o.activatedRouteData['animation']"
      >
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </main>
</mat-sidenav-container>
