:host {
  main {
    height: 100%;

    app-map {
      &.-hide {
        display: none;
      }
    }

    &.-is-splitted {
      display: flex;
      flex-direction: row-reverse;
      box-sizing: border-box;

      app-map {
        width: 60%;
      }
    }
  }
}
