:host {
  app-infinite-scroll {
    display: block;
    height: 14em;
    overflow-y: auto;
  }

  .real-hour {
    position: absolute;
    right: 1em;
    opacity: 0.2;
  }

  a:hover,
  a:focus {
    & .real-hour {
      opacity: 1;
    }
  }
}
